:root.theme-dark {
  color-scheme: dark;
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --decor-text-color: #000028;
  --button-hover-color: rgb(255 0 112 / 0.4);
}

:root.theme-dark .header__rec {
  display: flex;
}
