:root.theme-light {
  color-scheme: light;
  --background-color: #fff1f7;
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --decor-text-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --background-color: #fff1f7;
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --decor-text-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
  }

  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}
